<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.petsitterisi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".CardDemandePetSitter" />

        <activity android:name=".PlaningsFragment"
            tools:ignore="Instantiatable"></activity>

        <activity android:name=".CardDemandePetSitter"
            tools:ignore="DuplicateActivity" />

        <activity android:name=".AlertDialogContacterPetSitter" />
        <activity android:name=".AlertDialogCommentaire" />
        <activity
            android:name=".ListePetSitter"
            tools:ignore="Instantiatable" />
        <activity android:name=".AlertDialogReservation" />
        <activity android:name=".AjouterUnAnimal" />
        <activity android:name=".CardPetSitter" />
        <activity
            android:name=".Filtres"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ProfilPetSitter"
            tools:ignore="Instantiatable" />
        <activity android:name=".BottomNavigationBar" />
        <activity android:name=".Connexion" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>