/*css a ajouter
*/

.navbar {
    background: rgba(203, 50, 50, 0.71);
}

.name {
    position: absolute;
    width: 250px;
    height: 42px;
    left: 66px;
    top: 39px;
    font-family: Cardo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 20px;
    /* or 56% */
    text-align: center;
    color: #FFFFFF;
}

.logo {
    position: absolute;
    width: 50px;
    height: 55px;
    left: 30px;
    top: 15px;
}

.titre2 {
    position: absolute;
    width: 178px;
    height: 28px;
    left: 293px;
    top: 42px;
    font-family: Cardo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    /* or 83% */
    text-align: center;
    color: #FFFFFF;
}

#divContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.block {
    display: flex;
}

body {
    background-color: black;
}